
finding_donors/.ipynb_checkpoints/finding_donors-checkpoint.ipynb
finding_donors/models results.txt
student_intervention/README.html
student_intervention/student-data.numbers
student_intervention/.ipynb_checkpoints/student_intervention-checkpoint.ipynb
student_intervention/project_description.html
